<a href="https://colab.research.google.com/github/marantmir/1766-logica-programacao-python/blob/aula_1/CN_Modulo1_N1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Testando a precisão de sua máquina

Para verificar qual é a precisão empregada pela linguagem de programação Python é útil calcular:

* 0,1 + 0,1 + 0,1 = 0,3 ?

* $\displaystyle \sum^{30000}_{i=1} x_i = 15.000$ para $x_i = 0,5$?

* $\displaystyle \sum^{30000}_{i=1} x_i = 3.000$ para $x_i = 0,1$?

In [ ]:
# Mais detalhes em: https://docs.python.org/3/tutorial/floatingpoint.html

val = 0.1 + 0.1 + 0.1
print("val = "+str(val))
n = 30000
lista1 = [0.5] * n
lista2 = [0.1]* n
print("lista1[0]     = ",lista1[0])
print("lista1[29999] = ",lista1[29999])
print("lista2[0]     = ",lista2[0])
print("lista2[29999] = ",lista2[29999])
print("len(lista1)   = ",len(lista1))
print("len(lista2)   = ",len(lista2))
print("sum(lista1)   = ",sum(lista1))
print("sum(lista2)   = ",sum(lista2))

val = 0.30000000000000004
lista1[0]     =  0.5
lista1[29999] =  0.5
lista2[0]     =  0.1
lista2[29999] =  0.1
len(lista1)   =  30000
len(lista2)   =  30000
sum(lista1)   =  15000.0
sum(lista2)   =  2999.999999998367

#2. Limitações na representação de um número

Existem limites na representação dos valores na linguagem Python. O programa a seguir busca evidenciar o que ocorre para um valor acima do limite superior que é possível representar.

In [ ]:
# https://www.geeksforgeeks.org/python-float-type-and-its-methods/
print(1.7e308)
# maior que 1.8 * 10^308 será impresso 'inf'
print(1.82e308)

1.7e+308
inf

#3. Obtendo o número de bits

Para obter o número de bits reservados para uma variável criada em Python, basta empregar a sequência de comandos descrita a seguir.

In [ ]:
# https://www.includehelp.com/python/find-number-of-bits-necessary-to-represent-an-integer-in-binary.aspx
# Entre com um numero
num = int(input("Entre com um número inteiro: "))

# Total de bits para representar um número inteiro.
bits = num.bit_length()

print("Bits requeridos para armazenar ", num, " = ", bits)
print("Valor binário de ", num, " é = ", bin(num))

Entre com um número inteiro: 1
Bits requeridos para armazenar  1  =  1
Valor binário de  1  é =  0b1

#4. Conversão de número inteiro na base 2 para a base 10

Este programa converte um valor inteiro na base 2 para um valor inteiro na base 10.

In [ ]:
val = input('Digite o número binário: ')
print('O valor digitado é (' + val + ')_2')

Digite o número binário: 1011
O valor digitado é (1011)_2

In [ ]:
print("Val é uma variável do tipo: " + str(type(val)))

Val é uma variável do tipo: <class 'str'>

In [ ]:
print('val[0] = ',val[0])
print('val[1] = ',val[1])
print('val[2] = ',val[2])
print('val[3] = ',val[3])
print('val[-1] = ',val[-1])

val[0] =  1
val[1] =  0
val[2] =  1
val[3] =  1
val[-1] =  1

In [ ]:
print('val[0:3] = ',val[0:3])
print('val[0:] = ',val[0:])

val[0:3] =  101
val[0:] =  1011

In [ ]:
lv = len(val)
print("length(val) = "+str(lv))

for i in range(0,lv):
  print('val[i] = '+val[i])

length(val) = 4
val[i] = 1
val[i] = 0
val[i] = 1
val[i] = 1

In [ ]:
for i in range(0,lv):
  print('val['+str(i)+'] = '+val[i])

val[0] = 1
val[1] = 0
val[2] = 1
val[3] = 1

In [ ]:
num = int(val[0])
for i in range(1,lv):
  num = int(val[i]) + 2*num

#num = num + int(val[-1])

print("Valor (" + str(val) + ")_2 na base 10: " + str(num))

Valor (1011)_2 na base 10: 11

#5. Resumo: conversão da base 2 para base 10
Código resumo a ser empregado para conversão de número na base 2 para base 10.

In [ ]:
val = input('Digite o número binário: ')
print('O valor digitado é (' + val + ')_2')

num = int(val[0])
for i in range(1,lv):
  num = int(val[i]) + 2*num

num = num + int(val[-1])

print("Valor (" + str(val) + ")_2 na base 10: " + str(num))

Digite o número binário: 0101
O valor digitado é (0101)_2
Valor (0101)_2 na base 10: 6

#6. Conversão de um número na base 10 para base 2

Código resumo a ser empregado para conversão de um número na base 10 para base 2.

In [ ]:
va = input('Digite o número na base 10: ')
print('O valor digitado é (' + va + ')_10')

val = int(va)
num = []
num.append(val % 2)
val = int(val/2)
print(val)

while (val >= 1):
  num.append(val % 2)
  val = int(val/2)
  print(val)

num = num[::-1]
print("Valor (" + va + ")_10 na base 2: " + str(num))

Digite o número na base 10: 20
O valor digitado é (20)_10
10
5
2
1
0
Valor (20)_10 na base 2: [1, 0, 1, 0, 0]

# 7. Conversão número real: Base 2 para base 10

A seguir é fornecido o código que converte um número real entre 0 e 1 da base 10 para a base 2.

In [ ]:
n = input('Digite um número entre 0 e 1:')

d = [0]
r = 2*float(n)

iter = 0
while (r > 0.0)&(iter <= 20):

  if (r >= 1):
    dk = 1
  else:
    dk = 0
  print(dk)
  d.append(dk)
  r = r - dk

  if (r >= 0):
    r = 2*r

  iter = iter + 1

print("("+n+")10 = ("+str(d)+")2")

Digite um número entre 0 e 1:0.125
0
0
1
(0.125)10 = ([0, 0, 0, 1])2

# 8. Conversão número real: Base 10 para base 2

A seguir é fornecido o código que converte um número real entre 0 e 1 da base 2 para a base 10.

In [ ]:
n = input('Digite um número entre 0 e 1:')

d = [0]
r = 2*float(n)

iter = 0
while (r > 0.0)&(iter <= 20):

  if (r >= 1):
    dk = 1
  else:
    dk = 0
  print(dk)
  d.append(dk)
  r = r - dk

  if (r >= 0):
    r = 2*r

  iter = iter + 1

print("("+n+")10 = ("+str(d)+")2")

Digite um número entre 0 e 1:0.5
1
(0.5)10 = ([0, 1])2